.App {
  text-align: center;
}

ul {
  margin : auto;
}

.tttContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  aspect-ratio : 1;
  height : 96vh;
  gap : 5px;
  margin: 10px auto;
}

.tttCell {
  outline : 5px solid #aaa;
  font-size : 10vw;
  height:  33vh
}

body {
  background-color : #333;
  color : #aaa;
}

a {
  cursor : pointer;
}
a:hover {
  text-decoration: underline;
}